.services-card-text-container{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    text-align: left;
    padding: 2rem;
    gap: .5rem;
    box-sizing: border-box;
}
.services-card-text-container.yellow{
    background: var(--green-gradient);
    height: 340px;
}

.services-card-text-container h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    margin: 0;
}
.services-card-text-container h3{
    margin: 0;
    font-size: 40px;

}
.services-card-text-button{
    width: 130px;
    background-color: black;
    color: white;
}
.services-card-text-button.white{
    background-color: white;
    color: black;
    border:2px black solid;
}