.services-container{
    display: flex;
    max-width: 100%;
    background-color: black;
    border-radius: 32px;
    padding: 2rem;
}
.services-inner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 32px;
    overflow: hidden;
    gap: 1rem;
}
.services-heading{
    text-align: center;
    color: white;
}
.services-heading h3{
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
.services-content-container{
    display: flex;
    width: 100%;
    gap: var(--my-gap);
}
.services-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--my-gap);

}
.services-column-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: var(--my-gap);
}