.services-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;

}
.services-card-container img{
    height: 300px;
    width: 100%;
}
.services-card-container .first{
    object-fit: cover;
    object-position: 0 ;

}
@media screen and (max-width:800px) {
    .services-card-container .first{
        object-fit: cover;
        object-position: 0 0px;
    }
}
