.process-headline-container{
    margin: 4rem auto;
}
.process-h2{
    margin: 0;
}

.process-container{
    display: flex;
    height: 720px;
    width: 100%;
    border: 2px black solid;
    border-radius: 32px;
    overflow: hidden;
}
.process-rail{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.process-card:nth-child(1){
    border-left: 10px;
}
.process-card:nth-child(4){
    border-right: 10px;
}
.process-card{
    display: flex;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 0;
    border-top: 0px;
    border-bottom: 0px;
    border-color: white;
    padding: 2rem 1.5rem;
    transition:background 200ms ease-in;
}
.process-card:hover{
    background-color: var(--green-button);
}
.process-card.active{
    background-color: white;
    color: black;
    
}

.process-card-content{
    display: none;
}
.process-card-content.active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    background-color: white;
    padding: 2rem;
    gap: 2rem;
   
}
.process-card-img{
    max-width: 100%;
}
.process-card-selector-div{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}
.process-card-selector-div span{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}
.process-card-selector-div h3{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    flex: 1;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    transform: rotate(180deg)
    
}

.process-card-text h3{
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
}
.process-card-text p{
    text-align: justify;
}
@media only screen and (max-width:800px) {
    .process-container{
        height: 100%;
    }
    .process-rail{
        flex-direction: column;
    }
    .process-card{flex-direction: column;}
    .process-card-selector-div{
        flex-direction: row;
        height: 2vh;
        width: 100%;
        justify-content: space-between;
    }
    
    .process-card-selector-div h3{
        writing-mode: horizontal-tb;
        text-orientation: unset;
        transform: rotate(0deg);
        height: auto;
        flex-direction: row-reverse;
    }
    .process-card-content.active{
        flex-direction: column-reverse;
        padding: 0;
    }
    .process-card{
        border: 0px;
    }
}