.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.hero-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-action-div{
    display: flex;
    gap: 2rem;
}
.hero-btn{
    width: 9rem;
    justify-content: center;
    text-align: end;
}
.hero-btn.blue{
    background-color: var(--blue-button);
    color: white;
}