.ser-arrows-container{
    display: flex;
    width: 100%;
    background-color: black;
    border-radius: 32px;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    box-sizing: border-box;
}
.ser-square-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}
.ser-square-container img{
    height: 50px;
}
.ser-arrows-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5rem;
}
.ser-arrows-img{
    height: 500px;
}