#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.app{
  padding: 0 4rem;
}
.hero-main-section{
  height: 100vh;
  margin-bottom: 10rem;

}
.hero-background{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-background.home{
  background-image: url(heroImg.png);
}
.hero-background.video{
  display: flex;
  object-fit: cover;
  border-bottom: 10px solid rgba(38, 235, 202, 0.267);
}
/* Buttons */
button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green-button);
  cursor: pointer;
  transition: border-color 0.25s;

  display: flex;
  align-items: center;
  gap: 1rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.secondary-btn{
  border-radius: 16px;
  border: 2px solid white;
  padding: .8rem 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-size: .8rem;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 800px) {

  .app{
    padding:0 1rem ;
  }
}