.navbar{
    background-color: white;
    height: 80px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    height: 50%;
}
.navbar_menu {    
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: black;
}
.navbar_contact-btn{

}