.navbar{
    height: 80px;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo-container{
    height: 100%;
}
.logo{
    height: 100%;
}
.navbar_menu {    
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}
.navbar_menu a{
    color: white;

}
.navbar-mobile-menu-btn{
    display: none;
}
@media only screen and (max-width: 800px) {
    .navbar{
       height: 10vh;
    }
    .navbar_menu{
        display: none;
    }
    .navbar-mobile-menu-btn{
        display: flex;
    }
}