:root {
  font-family: 'Poppins', sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  --green-button:rgba(180, 225, 0, 1) ;
  --blue-button:rgba(0, 42, 103, 1) ;
  --dark-blue:#000c1d;
  --green-gradient:linear-gradient(75deg, #B4E100 4%, #E1CA00 70%);
  --my-gap: 2rem;


  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;

}
a:hover {
  color: #05746a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  line-height: 80px;
  margin: 0;
}
h2{
  font-weight: 700;
  font-size: 64px;
}
.h2-light{
  font-weight: 400;
  font-size: 36px;
}
.spacer{
  height: 100px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
